.nav-item a {
    color: black;
    text-decoration: none;
}

.nav-item a.route:hover {
    border-bottom: solid 4px #21b0b6;
}

.nav-item.route-active a {
    border-bottom: solid 4px #21b0b6;
}

.navbar {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white !important;
}

.navbar-collapse {
    background-color: white;
}

.content-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-left: 15px;
}

.navbar-toggler {
    margin-right: 15px;
}

.logo-header {
    height: 75%;
}

i.icon-header {
    color: black;
    font-size: 1.7em;
    text-decoration: none !important;
}

form.dropdown-item {
    cursor: pointer;
}

@media only screen and (max-width: 980px) {
    .nav-item {
        margin-left: 0 !important;
    }
    .nav-item a.route {
        border: none;
        display: block;
        margin-top: 10px;
    }
    .nav-item a.route:hover {
        border: none;
    }
    .dropdown {
        display: none !important;
    }
    .navbar {
        padding: 0 !important;
    }
    .content-logo {
        margin-left: 15px;
    }
    .navbar-toggler {
        margin-right: 15px;
    }
}