html,
body {
    height: 100%;
}

.content {
    background-image: url("../img/fundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 0 20px;
}

#form {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 40px 40px;
    width: 60%;
}

#form_library {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 40px 40px;
    width: 40%;
}

.form-enterprise {
    margin-left: 40px;
}

.dev {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 40px;
    height: 100%;
    width: 100%;
}

.title-login {
    background-color: #226777;
    border-radius: 4px;
}

@media screen and (max-width: 850px) {
    .dev {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-enterprise {
        margin-left: 0px;
        margin-top: 40px;
    }
    #form_library {
        width: 95%;
    }
    #form {
        width: 95%;
    }
}