body,
html {
    background-color: white;
}

.content.main-content {
    max-width: none;
    margin: 0 auto !important;
    float: none !important;
}

@media only screen and (min-width: 1464px) {
    .content.main-content {
        max-width: 1464px !important;
    }
}