.home-page {
    width: 100%;
    margin: 0 auto !important;
    float: none !important;
}

.background-image {
    background-color: orange;
    width: 100%;
    height: 19em;
    background-image: url('../img/home_fundo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background-image span {
    background-color: #21b0b6;
    width: min-content;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    white-space: nowrap;
    padding: 0.05em 1em;
    border-radius: 0.1em;
}

.topics {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 1.5em;
}

.topics .topic-item {
    width: 175px;
    min-width: 175px;
}

li+li {
    margin-left: 40px !important;
}

.topics .topic-item img {
    height: 125px;
    border-radius: 4px;
}

.topics .topic-item h3,
.topics .topic-item h5 {
    font-weight: bold;
}

.library {
    padding: 0px 20px;
}

.show-books {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 40px 25px;
}

.book {
    box-shadow: 0 0 10px 1px rgb(211, 209, 209);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.book .infos {
    width: 100%;
    padding: 15px 0px;
    max-height: 150px;
    overflow-y: scroll;
}

.book .infos::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}

.book .infos::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

@media screen and (max-width: 480px) {
    .book {
        padding: 25px 0px;
        flex-direction: column;
        overflow-y: hidden;
        overflow-y: scroll;
    }
    .book .infos {
        padding: 0px 10px;
        overflow-y: unset;
    }
}

@media screen and (max-width: 980px) {
    .background-image span {
        display: none;
    }
    .topics {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .topics .topic-item {
        margin-bottom: 20px;
    }
    li.topic-item+li.topic-item {
        margin-left: 0 !important;
    }
    .show-books {
        grid-template-columns: minmax(0, 1fr);
    }
}

@media all and (orientation: portrait) {
    .background-image span {
        display: none;
    }
    .topics {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .topics .topic-item {
        margin-bottom: 20px;
    }
    li.topic-item+li.topic-item {
        margin-left: 0 !important;
    }
    .show-books {
        grid-template-columns: minmax(0, 1fr);
    }
}