.livros-page {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto !important;
    float: none !important;
    background-image: url('../img/img_livros.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 25px;
}

@media screen and (max-width: 980px) {
    .background-image span {
        display: none;
    }
    .topics {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .topics .topic-item {
        margin-bottom: 20px;
    }
    li.topic-item+li.topic-item {
        margin-left: 0 !important;
    }
}

@media all and (orientation: portrait) {
    .background-image span {
        display: none;
    }
    .topics {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .topics .topic-item {
        margin-bottom: 20px;
    }
    li.topic-item+li.topic-item {
        margin-left: 0 !important;
    }
}