.livros-page {
    width: 100%;
    margin: 0 auto !important;
    float: none !important;
}

.background-image {
    background-color: orange;
    width: 100%;
    height: 19em;
    background-image: url('../img/img_livros.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background-image span {
    background-color: #21b0b6;
    width: min-content;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    white-space: nowrap;
    padding: 0.05em 1em;
    border-radius: 0.1em;
}

.topics {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 1.5em;
}

.topics .topic-item {
    width: 175px;
    min-width: 175px;
}

li+li {
    margin-left: 40px !important;
}

.topics .topic-item img {
    height: 125px;
    border-radius: 4px;
}

.topics .topic-item h3,
.topics .topic-item h5 {
    font-weight: bold;
}

@media screen and (max-width: 980px) {
    .background-image span {
        display: none;
    }
    .topics {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .topics .topic-item {
        margin-bottom: 20px;
    }
    li.topic-item+li.topic-item {
        margin-left: 0 !important;
    }
}

/* modal */
.modal-book{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
    width: 0px;
    height: 0px;
    z-index: 2;
    overflow: hidden;
    transition: all linear 350ms;
}
.modal-book.active{
    padding: 3em 10em;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    overflow-y: scroll;
}

#button-close-modal-book{
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 1.5em;
    cursor: pointer;
    color: rgb(75, 75, 75);
    transition: all linear 300ms;
}
#button-close-modal-book:hover{
    color: rgb(0, 0, 0);
    font-size: 1.7em;
}

.modal-title-book{
    text-align: center;
}

.modal-book hr{
    height: 0.1em;
    border: none;
    background: rgb(203,203,203);
background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(51, 51, 51) 50%, rgb(255, 255, 255) 100%);
}

.infos-modal{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.infos-modal .book-info, .infos-modal .generate-abnt{
    width: 49%;
}

.book-info h2, .generate-abnt h2{
    text-align: center;
}

.input-abnt{
    width: 100%;
    border: solid 1px rgb(212, 212, 212);
    font-size: 1em;
    background-color: rgba(247, 247, 247, 0.582);
    color: rgb(53, 53, 53);
    border-radius: 5px;
}

.group-abnt{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px rgb(184, 184, 184);
    height: 50px;
}

.group-abnt textarea{
    flex:1;
    border: none;
}

.group-abnt i{
    width: 10%;
    font-size: 16px;
    text-align: center;
    color: black;
}
.group-abnt i:hover{
    background-color: gainsboro;
}

/**/

@media all and (orientation: portrait) {
    .background-image span {
        display: none;
    }
    .topics {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .topics .topic-item {
        margin-bottom: 20px;
    }
    li.topic-item+li.topic-item {
        margin-left: 0 !important;
    }
}