html,
body {
    height: 100%;
}

.main-content {
    background-image: url("../img/bg_perfil.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 50px 20px;
}

.btn-edit-profile {
    background-color: var(--main-color);
    color: white;
    border: solid 1px lightgray;
    border-radius: 6px;
    height: 50px;
    width: 50px;
    font-size: 18px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    transition: all linear 300ms;
}

.btn-edit-profile:hover {
    background-color: var(--main-dark-color);
}

.profile-data {
    position: relative;
}